app.mnemonic=MNEMONIC/MT9xx Mnemonic - Agung.csv
app.pathMnemonic=MNEMONIC

app.pathBackup=DATA/BACKUP/
app.pathDecrypt=DATA/IN/
app.pathDecryptResult=DATA/DECRYPT/
app.pathKeyDecrypt=DATA/KEY/
app.privateKeyDecrypt=DATA/KEY/PrivateKey.asc
app.publicKeyDecrypt=DATA/KEY/PublicKey.asc
app.passphraseDecrypt=DATA/KEY/pass.txt
app.pathMt=DATA/MT/